<div class="destination">
    <form>
        <mat-select placeholder="Departamento">
            <mat-option *ngFor="let depto of deptos" [value]="depto.id">
                {{depto.name}}
            </mat-option>
        </mat-select>
        <div class="inputAddress">
            <mat-form-field>
                <input matInput placeholder="¿Dónde te dejamos?" [(ngModel)]="address.address" [ngModelOptions]="{standalone: true}">
            </mat-form-field>
        </div>
    </form>

    <div class="favorites">
        <h1>Favoritos</h1>
        <div class="listFavorites" *ngFor="let item of favorites" (click)="selectFavorite(item)">
            <div class="iconStar">
                <mat-icon>star_border</mat-icon>
            </div>
            <div class="instructions">
                <div class="nickName">
                    {{item.name}}
                </div>
                <div class="address">
                    {{item.address}}
                </div>
            </div>
        </div>
    </div>
</div>