.mat-sidenav{
    width: 220px;
    
    .icons{
        display: flex;
        justify-items: left;
        align-items: center;
        img{
            height: 40px;
            margin: 10px 0px;
            margin-left: 15px;
        }
    }
}

.sidenavAppComponent{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
.menuButton{
    display: none;
}
.menuButtonBack{
    display: none;
}

@media (max-width: 700px) {
    .menuButton{
        display: block;
        position: absolute;
        z-index: 10;
    }
    .menuButtonBack{
        display: block;
    }
    .icons{
        img{
            margin-left: 0px !important;
        }
    }
}