@import url(https://fonts.googleapis.com/icon?family=Roboto);
@import url(https://fonts.googleapis.com/icon?family=Material+Icons);
@import '~bootstrap/scss/bootstrap-reboot';
@import '~bootstrap/scss/bootstrap-grid';


body {
  font-family: Roboto; // #1
  color: rgb(112, 112, 112);

  h1{
    font-size: 18px;
    font-weight: normal;
  }
  h2{
    font-size: 15px;
    font-weight: normal;
  }
  h3{
    font-size: 13px;
    font-weight: normal;
  }
}
