.dashboard{
    height: 100%;
    position: relative;
}
.map{
    height: 100%;
    background-color: rgb(234, 239, 248);

    agm-map{
        height: 100%;
    }
}
.dashboardCard{
    position: absolute;
    width: 350px;
    height: 90%;
    top: 5%;
    left: 20px;
    box-shadow: 0px 5px 11px 1px rgba(0,0,0,0.75);
    background-color: white;
}

@media (max-width: 400px) {
    .dashboardCard{
        min-width: 300px;
        width: 90%;
        left: 5%;
    }
}