@import "./../../../custom.scss";
.menu{
    .menuHeader{
        margin-bottom: 50px;

        .menuHeaderUser{
            width: 100%;
            text-align: center;
            img{
                height: 100px;
                border-radius: 50%;
                margin: 0px;
                margin-top: 20px;
                padding: 0px;
            }
            h1{
                margin: 0px;
                padding: 0px;
            }
            h3{
                margin: 0px;
                padding: 0px;
            }
        }
    }

    .menuList{
        font-size: 15px;
        cursor: pointer;
        .menuListItem{
            display: flex;
            padding: 5px 25px;
            align-items: center;
            .iconItem{
                margin-right: 20px;;
            }
        }
        &:hover{
            background-color: rgb(209, 248, 220);
            border-left: solid 5px rgb(35, 207, 124);
            .menuListItem{
                padding: 5px 20px;
            }
        }
    }

    .selectItem{
        background-color: rgb(209, 248, 220);
        border-left: solid 5px rgb(35, 207, 124);
        .menuListItem{
            padding: 5px 20px;
        }
        &:hover{
            border-left: none;
            .menuListItem{
                padding: 5px 20px;
            }
        }
    }
}